@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Devolver";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <article class="content">
        <div class="box box-warning">
            <div class="box-body">
                <div class="form-horizontal">
                    <fieldset class="box box-primary box-solid">
                        <div class="box-header with-border" style="background-color:#3c8dbc">
                            <span class="box-title">Locações</span>
                        </div>
                        <div class="box-body table-responsive">
                            <table class="table table-bordered table-striped" id="tbItens">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-1">Código</th>
                                        <th class="text-center col-md-2">Nome Cliente</th>
                                        <th class="text-center col-md-2">Nome Filme</th>
                                        <th class="text-center col-md-2">Data Locado</th>
                                        <th class="text-center col-md-2">Data Devolução</th>
                                        <th class="text-center col-md-2">Dias de Atraso</th>
                                        <th class="text-center col-md-1">Ações</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</body>
</html>
